.AuthHeader {
  position: relative;
  padding: 0 15px;
  font-size: 14px;
  line-height: 1.428571429;
  text-align: left;
  background: #000 none repeat scroll 0 0;
  color: #333333;

  &--logo {
    img {
      margin: 16px 0;
      height: 30.5px;
    }
  }

  &.OWNER {
    display: flex;
    justify-content: space-between;

    .AuthHeader--language {
      display: flex;
      color: #fff;

      h4 {
        margin: auto;
      }

      button.language-btn {
        color: #fff;
        border-radius: 50px;
        border: 1px solid;
        padding: 0;
        margin: auto 10px;
        min-width: auto;
        width: 30px;
        height: 30px;
        background-color: #2A2A2A;

        &:hover {
          color: #00aae4;
        }
      }

      .language-popper {
        z-index: 2;
        right: 15px;
        top: 60px;

        & > div {
          background-color: black;
          height: 40px;
          display: flex;
        }
      }
    }
  }
}

.auth-content {
  position: relative;
  background: transparent url(../image/background/admin-bg.png) no-repeat scroll center top/cover;
  height: calc(100% - 65px);
  display: flex;

  &.OWNER {
    background-image: url(../image/background/owner-bg.png);
  }

  .login-box,
  .resetpassword-box {
    width: 505px;
    padding: 20px 45px 45px 45px;
    background: rgba(0, 0, 0, 0.7);
    margin: auto;

    .header {
      font-size: 30px;
      color: white;
      text-align: center;
      margin: 30px auto 25px auto;
      text-transform: uppercase;
    }

    .form-horizontal {
      .input-group {
        position: unset;
        display: block;

        input {
          height: 50px;
          width: 100%;
          border: medium none;
          border-radius: 5px;
        }
      }

      .remember-session {
        color: #fff;
        font-size: 12px;
      }

      .resetpassword {
        text-align: center;

        a {
          text-decoration: underline;
          color: #00aae4;
          font-size: 12px;
        }
      }

      button {
        cursor: pointer;
        background-color: #00aae4;
        border: none;
        height: 50px;
        border-radius: 3px;
        color: white;
        font-size: 12px;
        line-height: 2.4;
        font-weight: 700;
        width: 100%;

        &[disabled] {
          cursor: default;
        }
      }

      span.has-error {
        position: relative;
        top: -10px;
        color: red;
        margin: 0 0 10px -14px;
        font-size: 14px;
      }
    }
  }

  .resetpassword-box {
    .has-error {
      height: 30px;
    }

    button {
      margin-top: 50px;
    }

    .alert {
      border-radius: 2px;
      border-color: transparent !important;
      padding: 15px;
      margin-bottom: 20px;

      &.alert-success {

        background: #dbefce;
        border-color: #79c447;
        color: #4a7d28;
      }
    }

    .button-link {
      margin-top: 3em;
      text-align: center;
    }
  }
}

.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 15px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: -15px;
    height: 18px;
    width: 18px;
    background-color: #eee;

    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  /* On mouse-over, add a grey background color */
  &:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  & input:checked ~ .checkmark {
    background-color: #00aae4;
  }

  & input:checked ~ .checkmark:after {
    display: block;
  }

  .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
