.Company, .UserSetting {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 16px 0 16px 16px;

  .error p {
    color: #dd4b39;
    padding-left: 4px;
  }

  .inputs {
    margin: 0 15px 10px 0;

    label {
      font-size: 16px;
      line-height: 39px;
    }

    input {
      &.input-cus {
        padding: 12px 10px;
        font-size: 14px;
      }
    }

    #description {
      min-height: 200px;
      resize: vertical;
    }

    .select-cus {
      padding: 7px 10px;
      border: 1px solid rgba(0, 0, 0, 0.23);
      border-radius: 4px;

      div[role="button"] {
        position: relative;
        top: 5px;
        background-color: transparent;
        font-size: 14px;
        line-height: 100%;
        padding: 0;
        height: 24px;
      }
    }

    .select-disabled {
      height: 40px;

      div[role="button"] {
        margin-left: -8px;
        font-size: 14px;
      }

      svg {
        display: none;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: center;

    button {
      margin-right: 16px;
      width: 120px;

      span {
        font-size: 14px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

ul[role="listbox"] {
  padding: 0;
}
