#app-layout {
  background: #fff;
}

.home-admin-article {
  height: calc(100vh - 100px);

  .container-fluid {
    padding: 0;
  }
}

#app-layout .container-fluid {
  .block-utm {
    .col-sm-offset-3 {
      margin-left: 25%;
    }

    .img-utm-en {
      background: url("../image/dashboard/en/block-drone-utm-v2-en.png") no-repeat center;
      background-size: contain;
      height: 400px;

      &:hover {
        background: url("../image/dashboard/en/block-drone-utm-hovered-v2-en.png") no-repeat center;
        background-size: contain;
      }
    }

    .img-utm-ja {
      background: url("../image/dashboard/ja/block-drone-utm-v2-ja.png") no-repeat center;
      background-size: contain;
      height: 400px;

      &:hover {
        background: url("../image/dashboard/ja/block-drone-utm-hovered-v2-ja.png") no-repeat center;
        background-size: contain;
        animation: bounce;
      }
    }
  }

  .dashboard-content {
    background-size: cover;
    background: url("../image/background/dashboard-bg-v2.png") no-repeat center 100%;
    text-align: center;
    height: calc(100vh - 100px);

    div {
      a {
        div {
          //transition: all .3s ease-in-out;
        }
      }
    }
  }

  .block-utm div.container {
    margin-top: calc((100vh - 400px - 40px) / 2);
  }

  .topbar {
    label {
      color: white;
      font-size: 15px;
      font-weight: 500;
      margin: auto 20px auto 10px;
      max-width: 200px;
    }
  }
}

#app-layout {
  .container-fluid {
    &.site-header {
      padding-left: 20px;
      padding-right: 20px;
    }

    .row {
      min-height: calc(100vh - 80px);
    }
  }
}

.body-keep {
  min-height: calc(100vh - 80px);
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Large ipad pro */
@media (max-width: 1600px) {
  #app-layout .container-fluid.content {
    .dashboard-content {
      line-height: calc(100vh - 500px) !important;
      margin-top: 0;
    }
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .dashboard-content {
    line-height: calc(100vh - 100px) !important;
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  #app-layout .container-fluid.content .dashboard-content {
    line-height: calc(100vh - 300px) !important;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .dashboard-content {
    line-height: calc(100vh - 100px) !important;
    margin-top: 0;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  #header-control {
    text-align: left !important;
    margin: 20px auto;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  #header-control {
    text-align: left !important;
    margin: 20px auto;
  }
}
