.DetailComponent {
  padding-right: 15px;

  .lines {
    display: flex;

    .line {
      padding: 10px 15px;

      &.underline {
        border-bottom: 1px dashed gainsboro;
      }
    }
  }

  .certifications {
    margin-top: 10px;

    & > div {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      text-align: center;
      padding: 10px;
      background-color: #eff2f7;

      svg, span {
        margin: auto 0;
      }
    }
  }

  .box-footer {
    position: absolute;
    top: 0;

    .btn-back {
      background-color: #3c8dbc;
      color: #fff;
    }
  }

  .User {
    .certifications div {
      justify-content: unset;

      span {
        text-align: left;
        margin: unset;
      }
    }
  }
}

.ProjectList {
  p.title {
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
  }

  .ProjectList--content {
    &.fixed-height {
      height: 245px;
    }

    .table-header > div {
      background-color: #e9ecef;
      font-size: 16px;
      padding: 10px;
      color: #000;
    }

    .table-row > div {
      padding: 10px;
      border-bottom: 1px dashed gainsboro;
    }
  }
}

