.InvoicesModal {
  .modal-title {
    padding: 10px;
    text-align: center;
  }

  .modal-content {
    border: 1px solid gainsboro;

    .modal-top {
      display: flex;
      justify-content: space-between;
      background-color: #3ed8d8;
      padding: 12px;

      h4 {
        margin: auto;
      }

      .modal-sum {
        width: 30%;
        text-align: right;
        line-height: 34px;
        font-size: 24px;
        background-color: #fff;
        padding: 5px 10px;
      }
    }

    .modal-table {
      padding: 15px;

      table {
        width: 100%;

        th, td {
          border: 1px solid gainsboro;
          padding: 10px 5px;

          &.center {
            text-align: center;
          }

          &.right {
            text-align: right;
          }
        }

        thead th {
          width: calc(100% / 6);
        }

        tr:nth-child(odd) td {
          background-color: #f4f2f2;
        }
      }

      .note {
        font-size: 16px;
        font-weight: 700;
      }

      .total {
        font-size: 20px;
        font-weight: 700;
        margin: 10px 5px;
        text-align: right;
      }
    }
  }

  .modal-footer button {
    background-color: #3ed8d8;
  }
}
