aside.main-sidebar {
  .slimScrollDiv {
    position: relative;
    overflow: hidden;
    width: auto;
    height: 533px;
    .sidebar {
      overflow: hidden;
      width: auto;
      height: 533px
    }
  }
}
