$backgroundColor: #e9ecef;
$fontSize: 16px;

body {
  margin: 0 auto !important;

  #page-wrap {
    position: relative;
    width: 100vw;
    height: 100vh;
  }

  a:hover {
    text-decoration: none;
  }

  button:focus {
    outline: none;
  }

  .content-wrapper {
    min-height: calc(100vh - 50px);
  }

  .pagination-content-center {
    display: flex;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }

  .table-hover > tbody > tr:hover {
    background-color: $backgroundColor;
    cursor: pointer;
  }

  #page-wrap {
    header.main-header {
    }

    aside.main-sidebar {
    }

    div.content-wrapper {
      padding-right: 15px;

      section.content-header {
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 15px 0 0 15px;

        h1 {
          position: relative;
          top: 10px;

          svg {
            position: relative;
            top: 4px;
          }
        }

        .breadcrumb {
          background-color: transparent;
        }
      }

      section.content {
        padding-right: 0;

        .box {
          .box-header {
            padding: 15px 30px;

            .box-title {
              float: left;
              margin-top: 17px;
            }

            .box-tools {
              position: relative;
              top: unset;
              right: unset;
              float: right;

              .form-search-user {
                > div {
                  margin-top: 10px;
                }

                .label-search {
                  top: -5px;
                  font-size: 16px;
                }

                #adornment-search {
                  font-size: 16px;
                }
              }
            }
          }

          & > div.box-body {
            padding: 15px 30px 50px;

            table {
              thead {
                tr {
                  background-color: $backgroundColor;
                }
              }
            }
          }

          .box-footer {
            button {
              margin-right: 15px;
              width: 100px;
            }
          }
        }

      }
    }

    footer.main-footer {

    }
  }

  .dialog-wrapper {
    .dialog-title {
      > h2 {
        > span {
          font-size: $fontSize;
        }
      }
    }

    .disable_label {
      color: rgba(0, 0, 0, 0.38);
    }

    .enabled_label {
      color: rgba(0, 0, 0, 0.54);
    }

    .text-field {
      > label {
        font-size: $fontSize;
      }

      > div > input {
        font-size: $fontSize;
      }
    }
  }
}

.form-group {
  input {
    font-size: 14px;
    padding: 14px;
  }

  .radio-group {
    label span {
      font-size: 14px
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.form-control {
  &.select-box {
    &.active {
      border-radius: 4px;
      border-color: rgba(0, 0, 0, 0.23);
    }

    &.disabled {
      position: relative;
      border: transparent;
    }
  }
}

.has-error {
  color: red;
  margin-bottom: 15px;
}

#select-timezone,
#select-language {
  background-color: transparent;
}

#menu-timezone,
#menu-language {
  ul {
    max-height: 400px;

    li {
      font-size: 1em;
    }
  }
}

textarea {
  resize: vertical;
  min-height: 160px;

  &[disabled].form-control {
    background-color: #f6f6f6;
  }
}

.Loading {
  position: relative;
  text-align: center;
  width: 100%;
  height: calc(100vh - 50px);
  background: #fff;
  display: flex;

  span {
    margin: auto;
  }
}

#toast-container {
  position: absolute;
  top: 50px;
  right: 0;
}

.validate-error {
  position: absolute;
  font-size: 12px;
  color: red;
}
