table {
  th {
    background-color: #3c8dbc;
    padding: 15px 12px !important;
    color: #fff;
    border: 1px solid gainsboro;
  }

  tbody tr {
    border: 1px solid gainsboro;

    &:hover {
      background-color: rgba(0, 0, 0, .1) !important;
      color: #000;
    }

    td {
      padding: 12px !important;
    }
  }

  &.InvoicesTables {
    margin: 50px auto;
    width: 100%;

    tbody tr {
      cursor: pointer;
    }
  }
}