.topbar {
  height: 40px;
  background-color: #E1E1E1;
  box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.4);

  label {
    color: #404040;
    font-size: 14px;
    font-weight: 700;
    padding: 5px;
    margin-bottom: 0px;
    i {
      font-size: 20px;
      vertical-align: middle;
      margin-right: 5px;
    }
  }
}
